* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*Footer*/

.sections__container {
  display: flex;
  justify-content: space-around;
  max-width: 1080px;
  width: 100%;
}

.footer__copy {
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  background-color: #f4eee6;
  color: #000000;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 21px;
  width: 100%;
}

.footer__follow li {
  display: block;
  flex-direction: column;
  text-decoration: none;
  justify-content: space-between;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  background: #000000;
  min-height: 300px;
}

.footer__column {
  width: calc(100% / 3);
}

.social__icons {
  display: flex;
}

.footer__section__title {
  font-family: cooperboldbt;
  font-weight: 500;
  color: #f4b995;
  padding-top: 15px;
  padding-bottom: 15px;
}

.footer p {
  color: #ababab;
}

/*NavBar*/
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

.navbar {
  width: 100%;
  padding: 20px;
  background: #f4f3f5;
  display: flex;
  justify-content: space-between;
  max-width: 1080px;
}

.header {
  position: fixed;
  top: 0px;
  z-index: 5;
  width: 100%;
  display: flex;
  justify-content: center;
  background: #f4f3f5;
}

.navbar .nav__list {
  display: inline-flex;
}

.nav__list li {
  list-style: none;
}

.logo {
  cursor: pointer;
  margin-right: 20px;
  font-size: 30px;
  font-weight: 500;
}

.nav__list li a {
  font-family: "Questrial", Helvetica, Arial, Lucida, sans-serif;
  font-size: 18px;
  line-height: 23px;
  text-decoration: none;
  font-weight: 400;
  margin-right: 20px;
  transition: all 0.3s ease;
}

.nav__list li a:hover {
  border-bottom: 2px solid #dd3435;
}

@media (max-width: 900px) {
  .navbar .nav__list {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    max-width: 400px;
    background: #f4f3f5;
    display: block;
    padding: 40px 0;
    text-align: center;
  }
  .navbar.show .nav__list {
    left: 0%;
  }
  .navbar .nav__list li {
    margin-top: 65px;
  }
  .navbar .nav__list li a {
    font-size: 23px;
    margin-left: -100px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
}

/*TopSection*/
.top__section {
  display: flex;
  width: 1080px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  height: 665px;
  /*background-color: #f4f3f5;*/
  padding: 1 rem;
}

.intro {
  text-align: center;
  line-height: 24px;
  padding-top: 200px;
  padding-bottom: 175px;
  display: flex-start;
}

img {
  border: 5px;
  margin: auto;
  max-width: 350px;
  display: block;
}

.intro h1 {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 10px;
}

.title {
  font-family: "Roboto", sans-serif;
  color: #e6739f;
  font-size: 40px;
  text-align: center;
  padding-bottom: auto;
  height: 70px;
}

/*Body*/

.body {
  width: 100%;
  /*height: 500px;*/
  /*background: #f4eee6;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 75px;
}

/*Body*/
.section__wrapper,
.body__heading {
  max-width: 1080px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #000000;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  font-family: "cooperboldbt", serif;
}

.body_row {
  max-width: 1080px;
  display: flex;
  justify-content: space-between;
  padding: 2px 16px;
}

.card__a,
.card__b,
.card__c {
  /* box-shadow: 10px 4px 10px 4px rgba(0, 0, 0, 0.1);*/
  transition: 0.3s;
  padding: 20px 10px 25px 10px;
}

.card__b,
.card__c {
  margin-left: 5px;
}

.card__title {
  font-size: 20px;
  text-align: center;
}

.icon__card {
  width: 70px;
  height: 70px;
  border-radius: 400px;
  margin-bottom: 10px;
}

/*Main*/

.main {
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  background: #f4f3f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 75px;
}

.main__wrapper {
  max-width: 1080px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

/*Main*/

.calendar {
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 20px;
}

.btn__body {
  background: #000000;
  color: #fff;
  border: none;
  padding: 0 5%;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  line-height: 44px;
  font-family: " cooperboldbt", sans-serif;
  font-weight: 400px;
  cursor: pointer;
}

/*Form*/
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.form__heading {
  font-family: cooperboldbt;
  font-size: 30px;
  font-weight: 500;
  padding: 10px;
}

.form form {
  padding: 30px 0 0 0;
}

form .input__name {
  display: flex;
  margin: 32px 0;
}

/*BottomSection*/
.main__section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
