* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}





input::placeholder {
  color: white;
  font-size: 14px;
  font-family: Questrial, Helvetica, Arial, Lucida, sans-serif;
}


textarea::placeholder {
  color: white;
  font-size: 14px;
  font-family: Questrial, Helvetica, Arial, Lucida, sans-serif;
}



input,textarea{
  display:block;
  height:100%;
  width: 100%;
  border:none;
  font-size:17px;
  border-bottom: 2px solid rgba(0,0,0,0.12);
}

